@font-face{
  font-family: "ballo";
  src: url("./fonts/Baloo2-Medium.ttf");
}
@font-face{
  font-family: "muli";
  src: url("./fonts/Muli-Black.ttf");
}
::selection{
  color: white;
  background-color: #202020;
}
body{
  font-family: "ballo", "muli", Arial, Helvetica, sans-serif;
  background: rgb(255, 255, 255);  
  font-size: 1em;
  color: #202020;
  transition: .5s ease all;
}






/* do this in jquery *//* do this in jquery *//* do this in jquery *//* do this in jquery */
a:link{
  color:  rgb(43, 43, 43);
  transition: .2s ease all;
}
a:hover{
  color: rgb(145, 61, 230);
  text-decoration: none;
  transition: .2s ease all;
}
a:visited{
  color:  rgb(43, 43, 43);
  transition: .2s ease all;
}
a:visited:hover{
  color:  rgb(145, 61, 230);
  transition: .2s ease all;
}
/* do this in jquery *//* do this in jquery *//* do this in jquery *//* do this in jquery */



.unerLine{
  text-decoration: underline;
}
a{
  font-weight: 500;
}
#header{
  background: url("./img/jadiFace.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  transition: .2s ease all;
}
.bigTitle p{
  width: 55%;
}
.bigTitle{
  padding: 0 150px 0 50px;
  text-align: left;
  color: rgb(0, 0, 0);
  transition: .2s ease all;
}
.section-title > h4{
  font-size: 1.8em;
  margin: 60px  60px 30px 60px;
  padding: 17px;
  color: black;
  align-self: center;
  box-shadow: 0 0 20px rgba(145, 61, 230, 0.438);  
  transition: .2s ease all;
  color:rgb(145, 61, 230);
  cursor: default;
  transition: .2s ease all;
}
.gallery-card{
  margin: 15px 0;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  transition: .2s ease all;
}
.gallery-card:hover{
  border: 2px solid rgba(145, 61, 230, 0.438);  
  box-shadow: 0 0 20px rgba(145, 61, 230, 0.438);  
  transition: .2s ease all;
}
.gallery-card:active{
  border: 2px solid rgba(145, 61, 230, 0.438);  
  box-shadow: 0 0 20px rgba(145, 61, 230, 0.438);  
  transition: .2s ease all;
}
.gallery-card img{
  border-radius: 5px;
  width: 400px;
  height: auto;
}
.gallery-card p{
  padding-top: 15px;
}
i{
  font-size: 2em;
  display: inline-block;
}
i h6{
  padding: 8px;
  font-family: "iransans";
  font-size: .4em;
}
footer{
  padding: 50px 0;
}
#links{
  padding: 10px 0;
}
#changeTheme{
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  color: #202020;
  border-radius: 10px;
  padding: 10px;
}
@media (max-width: 982px){
  #header{
    background-color: #202020;
    background-blend-mode: soft-light;    
  }
  .bigTitle{
    color: white;
  }
  #changeTheme{
    color: #ffffff;
  }

}

/* beating heart from https://www.freecodecamp.org/news/how-to-create-a-beating-heart-with-pure-css-for-your-valentine-2aeb05e2d36e */
.heart {
  animation: heartbeat 1s infinite;
  background-color: red;
  display: inline-block;
  height: 50px;
  margin: 0 10px;
  top: 0;
  transform: rotate(-45deg);
  position: absolute; 
  left: 45%;
  width: 50px;
  opacity: 0.6;
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}

.heart:before {
  top: -25px;
  left: 0;
}

.heart:after {
  left: 25px;
  top: 0;
}
@keyframes heartbeat {
  /* 0% {
    transform: scale( 1 ) 
    rotate(-45deg);    
  } */
  20% {
    transform: scale( 1.25 ) 
      translateX(5%) 
      translateY(5%)
      rotate(-45deg);
  } 
  /* 40% {
    transform: scale( 1.5 ) 
      translateX(9%) 
      translateY(10%) 
      rotate(-45deg);
  }
  60% {
    transform: scale( 1.75 ) 
      translateX(13%) 
      translateY(15%) 
      rotate(-45deg);
  } */
}
